---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/shortstories/">Short Stories</a>

  <h1>WELCOME TO MY WEBSITE</h1>

  <p>This is a small lil blog that I will be posting sporadically on.</p>

  <p>
    Posts will include short stories, blogs and maybe a lil bit of art. Who
    knows O_o
  </p>
</Layout>
