---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/shortstories/">Short Stories</a>
  <h1
  <ul>
    <li>
      <a href="/shortstories/themirrorbetweenus/">The Mirror Between Us</a>
    </li>
    <li>
      <a href="/shortstories/thestoryofwhenimetkochie/"
        >The Time I Met David Kochie</a>
 <li>
<a href="/shortstories/todustyoushallreturn/">To Dust You Shall Return</a>
    </li>
  </ul>

</Layout>
