<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/shortstories/">Short Stories</a>
<ul>
  <li><a href="/shortstories/themirrorbetweenus/">The Mirror Between Us</a></li>
  <li><a href="/shortstories/thestoryofwhenimetkochie/">The Time I Met David Kochie</a></li>
</ul>

    
  